body{
  background-color: #d9cbf9;
}

h1{
  text-align: center;
  color: #691bb3;
  font-family: "Courier";
  font-size: 50px
}

strong{
  color: purple;
}

div{
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-family: "Verdana";
}

h2{
  color: #9452c7;
}

#favGroups{
  display: none;
}

.pictureLeft{
  display: inline-block;
  float: left;
}

.pictureRight{
  display: inline-block;
  float: right;
}

#favGroups{
  padding-left: 0px;
  padding-right: 0px;
}

#tortoise{
  width: 200px;
  height: 200px;
}

#mx{
  width: 300px;
  height: 200px;
}

#vixx{
  width: 255px;
  height: 200px;
}

#svt{
  width: 300px;
  height: 200px;
}

#zheng{
  width: 300px;
  height: 200px;
}

#sunset{
  width: 300px;
  height: 200px;
}

#voltron{
  width: 264px;
  height: 200px;
}

#atla{
  width: 285px;
  height: 190px;
}

#button{
  display: block;
  margin: auto;
  width: 10%;
}

#bap{
  width: 300px;
  height: 200px;
}

#inft{
  width: 276px;
  height: 200px;
}

#stuck{
  width: 300px;
  height: 200px;
}

#blue{
  width: 300px;
  height: 200px;
}
